<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registarUsuario()" class="form-horizontal form-material" id="loginform" action="index.html">
                <a href="{{ _servicioInfop.info.urlUps }}" class="text-center db"><img width="100%" height="100%" src="assets/images/upsLogin.png" /></a>
                <h3 align="center" class="box-title m-t-40 m-b-0"><b>{{_servicioInfop.info.registroA}}</b></h3>
                <h6 align="center">{{_servicioInfop.info.crearC}}</h6>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="{{_servicioInfop.info.nomR}}">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="email" name="nombre" class="form-control" type="email" required placeholder="{{_servicioInfop.info.emailUser}}">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="password" name="password" class="form-control" type="password" required placeholder="{{_servicioInfop.info.pass}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="passwordC" name="passwordC" class="form-control" type="password" required placeholder="{{_servicioInfop.info.passR}}">
                    </div>
                </div>

                <div class="form-group" *ngIf="forma.errors?.validacionPassword && !forma.pristine">
                    <p class="text-danger">
                        {{_servicioInfop.info.confpass}}
                    </p>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> {{_servicioInfop.info.smsterminos }} <a href="#">{{ _servicioInfop.info.termino }}</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">{{_servicioInfop.info.registro}}</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>{{_servicioInfop.info.cuentaok}} <a routerLink="/login" class="text-info m-l-5"><b>{{_servicioInfop.info.ininse}}</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->