<div class="container-fluid">
    <div class="row el-element-overlay">
        <div *ngFor="let aplicacion of aplicaciones" class="col-lg-3 col-md-4">
            <div class="card">
                <span class="border border-primary">
                <br>

                <div class="el-card-item">
                    <div class="el-card-avatar" align="center">
                        <img (click)="'aplicacion.url'" [src]=" aplicacion.img | imagen: 'aplicacion'" class="imgAp-50 pointer rounded-circle">
                        <!-- <a href='aplicacion.url'>My Link</a> -->
                        <!-- <h3>{{aplicacion.url}}</h3> -->
                    </div>
                    <div class=" el-card-content ">
                        <h3 class="box-title ">
                            <font style="vertical-align: inherit; ">
                                <font style="vertical-align: inherit; ">{{aplicacion.nombre}}</font>
                            </font>
                        </h3>
                    </div>
                </div>
                </span>
            </div>
        </div>
    </div>
</div>